html {
    background: linear-gradient(315deg,#DEB887 0%, #B22222 74%) no-repeat center fixed;
    background-size: cover;
  }

table {
    background-color: white;
    border-style: solid;
    border-color: #DEB887;
}

th {
    font-size: 0.9em;
}
  
td {
    white-space: pre-line;
}

a {
  color: #000000;
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;
  align-items: center;
}
a:hover {background-color: #B22222;opacity: 0.8;}
  
  .flexbox-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }