html {
    background: linear-gradient(315deg,#DEB887 0%, #B22222 74%) no-repeat center fixed;
    background-size: cover;
  }

table {
    background-color: white;
    border-style: solid;
    border-color: #DEB887;
}

th {
    font-size: 0.9em;
}
  
  
  .flexbox-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }